bin/.plexapi_rc
bin/ssl_download.sh
.cloud
custom_components
dashboards
deps
frigate.yml
gcam
.HA_VERSION
home-assistant.log
home-assistant.log.*
home-assistant_v2.db*
icons
image
log
secrets*
.ssh
.storage/*
!.storage/lovelace*
.svn*
svn-commit*.tmp
.*.swp
tasmota_configs
themes/*
!themes/green-button
!themes/red-button
!themes/yellow-button
tts
.vscode
wireguard
www
!www/*.html
!www/home-assistant-svg-file-loader
www/home-assistant-svg-file-loader/.git
www/home-assistant-svg-file-loader/.gitignore
zigbee.db
zigbee.db-journal
zigbee2mqtt
z2mbak*
