!.storage/lovelace*
!themes/green-button
!themes/red-button
!themes/yellow-button
!www/*.html
!www/home-assistant-svg-file-loader
*.bak
*.db
*.db-shm
*.db-wal
*.tmp
.*.swp
.HA_VERSION
.august@erdelynet.com.august.conf
.cloud
.exports
.git_home
.google_maps_location_sharing.cookies.homeassistanterdely_gmail_com
.jwt_secret
.ssh
.storage/*
.svn*
.timeline
.vacuum
.vscode
bin/.plexapi_rc
bin/mwe.sh
custom_components
dashboards
deps
frigate.yml
gcam
home-assistant.log
home-assistant.log.*
icons
image
log
npm_notes.txt
secrets*
snmpwalk.txt
svn-commit*.tmp
tasmota_configs
themes/*
tts
wireguard
www
www/home-assistant-svg-file-loader/.git
www/home-assistant-svg-file-loader/.gitignore
z2m_portainer
z2m_portainer/*
z2mbak*
zigbee.db
zigbee.db-journal
zigbee2mqtt*
