# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

*.bak
*.db
*.db-shm
*.db-wal
*.tmp
.*.swp
.HA_VERSION
.cloud
.git
.git_home
.ssh
.storage/auth
.storage/auth.session
.storage/auth_module.totp
.storage/auth_provider.homeassistant
.storage/backup
.storage/http.auth
.storage/mobile_app
.storage/trace.saved_traces
.vacuum
bin/mwe.*
custom_components/
home-assistant.log
home-assistant.log.*
image
log
snmpwalk.txt
tts
wireguard
www
zigbee2mqtt/*.bk
zigbee2mqtt/*.db
zigbee2mqtt/*.db-shm
zigbee2mqtt/*.db-wal
zigbee2mqtt/*.log
zigbee2mqtt/log
zigbee2mqtt/state.json
backup_config.yaml
bin/test_script
blueprints/automation/music-assistant/
esphome/
notifications.pem
retired_automations/
